<div class="sidebar-area">
    <div class="brand-h1">Journify</div>

    <nav class="nav-links-stack">
        <NavLink class="nav-link-custom" href="" Match="NavLinkMatch.All">
            <span>Home</span> <i class="bi bi-house-door-fill"></i>
        </NavLink>
        <NavLink class="nav-link-custom" href="journal">
            <span>Journal</span> <i class="bi bi-journal-text"></i>
        </NavLink>
        <NavLink class="nav-link-custom" href="timeline">
            <span>Timeline</span> <i class="bi bi-clock-history"></i>
        </NavLink>
        <NavLink class="nav-link-custom" href="analytics">
            <span>Analytics</span> <i class="bi bi-bar-chart-fill"></i>
        </NavLink>
    </nav>

    <div class="sidebar-bottom-action">
        <button class="circle-pencil-btn">
            <i class="bi bi-pencil-fill" style="margin: 0 !important; font-size: 1.3rem !important;"></i>
        </button>
    </div>
</div>